In [ ]:
#setup Odoo

import requests

jsonrpcid = 0
url = "https://demo-28-08-6.adhoc.ar/jsonrpc"
db = "demo-28-08-6"
username = "Chargebee"
password = "Chargebee"
headers = {'Content-Type': 'application/json'}


class Odoo():

    def __init__(self):
        self.jsonrpcid = 0

    def call(self, method: str, service: str, *args):
        self.jsonrpcid += 1

        data = {
            "jsonrpc": "2.0",
            "method": "call",
            "params": {
                "service": service,
                "method": method,
                "args": args
            },
            "id": self.jsonrpcid
        }

        # Realizar solicitud HTTP POST
        response = requests.post(url, headers=headers, json=data)
        result = response.json()

        return result

    def login(self, db: str, username: str, password: str):
        self.db = db
        self.username = username
        self.password = password
        outcome = self.call('login', 'common', self.db, self.username, self.password)
        if 'result' not in outcome:
            raise Exception('Failed to login')
        self.uid = outcome['result']

    def execute(self, *args):
        result = self.call('execute_kw', 'object', self.db, self.uid, self.password, *args)
        r = result.get('result', False)
        if not r:
            print(result)
            raise Exception('Command has failed')
        return r

    def read(self, model: str, ids: list=[], fields: list=[], context: dict={}):
        return self.execute(model, 'read', [ids, fields], {'context': context})

    def search_read(self, model: str, domain: list=[], fields: list=[], offset: int=0, limit: int=10, context: dict={}):
        return self.execute(model, 'search_read', [domain, fields, offset, limit], {'context': context})

    def create(self, model: str, vals_list: list=[], context: dict={}):
        return self.execute(model, 'create', vals_list, {'context': context})

# Crear nueva instancia
odoo = Odoo()

# Realizar login
odoo.login(db, username, password)

In [53]:
#setup chargebee

import chargebee

chargebee.configure('test_UIH0hwBMGEgXrq7isGWyGxo4yW4cY1Qr', 'cliengo-test')

In [54]:
# Obtener las invoices desde Chargebee

import pandas as pd
def get_chargebee_invoices(limit=5):
    invoice_list = []
    offset = None  # Empezar sin offset para obtener la primera página
    total_fetched = 0  # Contador de facturas obtenidas

    while total_fetched < limit:
        # Obtener la lista de facturas, con paginación
        entries = chargebee.Invoice.list({
            "status[in]": ["paid", "payment_due"],
            "sort_by[asc]": "date",
            "limit": 100,  # Procesar 100 facturas por página
            "offset": offset  # Usar el offset actual
        })

        # Agregar las facturas a la lista
        for entry in entries:
            if total_fetched >= limit:
                break  # Salir si ya alcanzamos el límite de facturas
            invoice = entry.invoice
            invoice_list.append(invoice.__dict__)
            total_fetched += 1  # Incrementar el contador de facturas obtenidas

        # Verificar si hay más páginas (si existe un offset para la siguiente página)
        offset = entries.next_offset
        if not offset:
            break  # Salir del bucle si no hay más páginas

    return invoice_list

# Llamar la función y convertir el resultado en un dataframe
invoices = get_chargebee_invoices(limit=5)

# Convertir la lista de diccionarios en un DataFrame de pandas
df = pd.DataFrame(invoices)

# Mostrar el DataFrame
df

,values,sub_types,dependant_types,id,po_number,customer_id,subscription_id,recurring,status,vat_number,...,void_reason_code,deleted,tax_category,vat_number_prefix,channel,business_entity_id,site_details_at_creation,tax_origin,object,base_currency_code
0,"{'id': '46794', 'customer_id': '5dde8435e4b098...",{'line_items': <class 'chargebee.models.invoic...,{},46794,None,5dde8435e4b098a27bbd4def,AzyWD9Rj28XRP3nc,True,paid,None,...,None,False,None,None,web,None,"{\n ""timezone"": ""America/Argentina/Buenos_A...","{\n ""country"": ""US""\n}",invoice,USD
1,"{'id': '46795', 'customer_id': '5dde8435e4b098...",{'line_items': <class 'chargebee.models.invoic...,{},46795,None,5dde8435e4b098a27bbd4def,AzyWD9Rj28XRP3nc,True,paid,None,...,None,False,None,None,web,None,"{\n ""timezone"": ""America/Argentina/Buenos_A...","{\n ""country"": ""US""\n}",invoice,USD
2,"{'id': '46809', 'customer_id': '5dde9c4be4b056...",{'line_items': <class 'chargebee.models.invoic...,{},46809,None,5dde9c4be4b0561f4689bbc2,16BckoRj2YPN9MXm,True,paid,None,...,None,False,None,None,web,None,"{\n ""timezone"": ""America/Argentina/Buenos_A...","{\n ""country"": ""US""\n}",invoice,USD
3,"{'id': '46810', 'customer_id': '5dde9c4be4b056...",{'line_items': <class 'chargebee.models.invoic...,{},46810,None,5dde9c4be4b0561f4689bbc2,16BckoRj2YPN9MXm,True,paid,None,...,None,False,None,None,web,None,"{\n ""timezone"": ""America/Argentina/Buenos_A...","{\n ""country"": ""US""\n}",invoice,USD
4,"{'id': '46811', 'customer_id': '5ddeb9c2e4b08c...",{'line_items': <class 'chargebee.models.invoic...,{},46811,None,5ddeb9c2e4b08c6105056cf8,16BZFFRj343fAh0S,True,paid,None,...,None,False,None,None,web,None,"{\n ""timezone"": ""America/Argentina/Buenos_A...","{\n ""country"": ""US""\n}",invoice,USD

In [56]:
#para separar los campos dentro de jsons y diccionarios genere el siguiente codigo @Yepes
def print_column_types(dataframe):
    for column in dataframe.columns:
        dtype = dataframe[column].dtype
        print(f"{column} \t {dtype}")

# Llamar a la función para mostrar las columnas y tipos de datos
print_column_types(df)

values 	 object
sub_types 	 object
dependant_types 	 object
id 	 object
po_number 	 object
customer_id 	 object
subscription_id 	 object
recurring 	 bool
status 	 object
vat_number 	 object
price_type 	 object
date 	 int64
due_date 	 int64
net_term_days 	 int64
exchange_rate 	 float64
currency_code 	 object
total 	 int64
amount_paid 	 int64
amount_adjusted 	 int64
write_off_amount 	 int64
credits_applied 	 int64
amount_due 	 int64
paid_at 	 int64
dunning_status 	 object
next_retry_at 	 object
voided_at 	 object
resource_version 	 int64
updated_at 	 int64
sub_total 	 int64
sub_total_in_local_currency 	 object
total_in_local_currency 	 object
local_currency_code 	 object
tax 	 int64
local_currency_exchange_rate 	 object
first_invoice 	 bool
new_sales_amount 	 float64
has_advance_charges 	 bool
term_finalized 	 bool
is_gifted 	 bool
generated_at 	 int64
expected_payment_date 	 object
amount_to_collect 	 int64
round_off_amount 	 int64
line_items 	 object
discounts 	 object
line_item_discounts 	 object
taxes 	 object
line_item_taxes 	 object
line_item_tiers 	 object
linked_payments 	 object
dunning_attempts 	 object
applied_credits 	 object
adjustment_credit_notes 	 object
issued_credit_notes 	 object
linked_orders 	 object
notes 	 object
shipping_address 	 object
statement_descriptor 	 object
billing_address 	 object
einvoice 	 object
payment_owner 	 object
void_reason_code 	 object
deleted 	 bool
tax_category 	 object
vat_number_prefix 	 object
channel 	 object
business_entity_id 	 object
site_details_at_creation 	 object
tax_origin 	 object
object 	 object
base_currency_code 	 object

In [57]:
#muestra todos los campos de tipo object ya que entre ellos estan esos campos a desanidar
df_objects = df.select_dtypes(include=['object'])
df_objects

,values,sub_types,dependant_types,id,po_number,customer_id,subscription_id,status,vat_number,price_type,...,payment_owner,void_reason_code,tax_category,vat_number_prefix,channel,business_entity_id,site_details_at_creation,tax_origin,object,base_currency_code
0,"{'id': '46794', 'customer_id': '5dde8435e4b098...",{'line_items': <class 'chargebee.models.invoic...,{},46794,None,5dde8435e4b098a27bbd4def,AzyWD9Rj28XRP3nc,paid,None,tax_exclusive,...,None,None,None,None,web,None,"{\n ""timezone"": ""America/Argentina/Buenos_A...","{\n ""country"": ""US""\n}",invoice,USD
1,"{'id': '46795', 'customer_id': '5dde8435e4b098...",{'line_items': <class 'chargebee.models.invoic...,{},46795,None,5dde8435e4b098a27bbd4def,AzyWD9Rj28XRP3nc,paid,None,tax_exclusive,...,None,None,None,None,web,None,"{\n ""timezone"": ""America/Argentina/Buenos_A...","{\n ""country"": ""US""\n}",invoice,USD
2,"{'id': '46809', 'customer_id': '5dde9c4be4b056...",{'line_items': <class 'chargebee.models.invoic...,{},46809,None,5dde9c4be4b0561f4689bbc2,16BckoRj2YPN9MXm,paid,None,tax_exclusive,...,None,None,None,None,web,None,"{\n ""timezone"": ""America/Argentina/Buenos_A...","{\n ""country"": ""US""\n}",invoice,USD
3,"{'id': '46810', 'customer_id': '5dde9c4be4b056...",{'line_items': <class 'chargebee.models.invoic...,{},46810,None,5dde9c4be4b0561f4689bbc2,16BckoRj2YPN9MXm,paid,None,tax_exclusive,...,None,None,None,None,web,None,"{\n ""timezone"": ""America/Argentina/Buenos_A...","{\n ""country"": ""US""\n}",invoice,USD
4,"{'id': '46811', 'customer_id': '5ddeb9c2e4b08c...",{'line_items': <class 'chargebee.models.invoic...,{},46811,None,5ddeb9c2e4b08c6105056cf8,16BZFFRj343fAh0S,paid,None,tax_exclusive,...,None,None,None,None,web,None,"{\n ""timezone"": ""America/Argentina/Buenos_A...","{\n ""country"": ""US""\n}",invoice,USD

In [59]:
#aqui separe especificamente estos 2 campos debido a que unos son json y otros son diccionarios, en este caso son 
dict_df = df_objects[['values', 'sub_types']]

In [60]:
dict_df

,values,sub_types
0,"{'id': '46794', 'customer_id': '5dde8435e4b098...",{'line_items': <class 'chargebee.models.invoic...
1,"{'id': '46795', 'customer_id': '5dde8435e4b098...",{'line_items': <class 'chargebee.models.invoic...
2,"{'id': '46809', 'customer_id': '5dde9c4be4b056...",{'line_items': <class 'chargebee.models.invoic...
3,"{'id': '46810', 'customer_id': '5dde9c4be4b056...",{'line_items': <class 'chargebee.models.invoic...
4,"{'id': '46811', 'customer_id': '5ddeb9c2e4b08c...",{'line_items': <class 'chargebee.models.invoic...

In [61]:
#y lo que aplico a este otro dataframe es la logica de separacion para json, que estos estaban raros por ese \n
dict_df2 = df_objects[['dependant_types', 'line_items', 'discounts', 'line_item_tiers', 'linked_payments',
'dunning_attempts', 'applied_credits', 'adjustment_credit_notes', 'issued_credit_notes', 'linked_orders', 'billing_address',
'site_details_at_creation', 'tax_origin']]

In [62]:
dict_df2

,dependant_types,line_items,discounts,line_item_tiers,linked_payments,dunning_attempts,applied_credits,adjustment_credit_notes,issued_credit_notes,linked_orders,billing_address,site_details_at_creation,tax_origin
0,{},"[{\n ""id"": ""li_AzyWD9Rj28XT63ng"",\n ""dat...",None,None,"[{\n ""txn_id"": ""txn_AzyWD9Rj28XTw3nh"",\n ...",[],[],[],"[{\n ""cn_id"": ""TEST-CN-3542"",\n ""cn_reas...",[],"{\n ""first_name"": ""test"",\n ""last_name"":...","{\n ""timezone"": ""America/Argentina/Buenos_A...","{\n ""country"": ""US""\n}"
1,{},"[{\n ""id"": ""li_AzyvujRj28Zag3HL"",\n ""dat...",None,None,"[{\n ""txn_id"": ""txn_AzyvujRj28ZcY3HP"",\n ...",[],"[{\n ""applied_amount"": 25200,\n ""applied...",[],[],[],"{\n ""first_name"": ""test"",\n ""last_name"":...","{\n ""timezone"": ""America/Argentina/Buenos_A...","{\n ""country"": ""US""\n}"
2,{},"[{\n ""id"": ""li_16BckoRj2YPOqMXq"",\n ""dat...",None,None,"[{\n ""txn_id"": ""txn_16BckoRj2YPQOMXr"",\n ...",[],[],[],"[{\n ""cn_id"": ""TEST-CN-3545"",\n ""cn_reas...",[],"{\n ""first_name"": ""test"",\n ""last_name"":...","{\n ""timezone"": ""America/Argentina/Buenos_A...","{\n ""country"": ""US""\n}"
3,{},"[{\n ""id"": ""li_16A1EJRj2YRnLXPJ"",\n ""dat...",None,None,"[{\n ""txn_id"": ""txn_16A1EJRj2YRpQXPS"",\n ...",[],"[{\n ""applied_amount"": 25200,\n ""applied...",[],[],[],"{\n ""first_name"": ""test"",\n ""last_name"":...","{\n ""timezone"": ""America/Argentina/Buenos_A...","{\n ""country"": ""US""\n}"
4,{},"[{\n ""id"": ""li_16BZFFRj343hOh0W"",\n ""dat...",None,None,"[{\n ""txn_id"": ""txn_16BZFFRj343ijh0X"",\n ...",[],[],[],[],[],"{\n ""first_name"": ""test"",\n ""last_name"":...","{\n ""timezone"": ""America/Argentina/Buenos_A...","{\n ""country"": ""US""\n}"

In [63]:
#aqui estan las funciones para dividir los campos de diccionario
import pandas as pd

# Función para desanidar el diccionario en cada fila de una columna específica
def flatten_json_column(df, column_name):
    # Verificar si la columna es de tipo diccionario o tiene JSON
    if df[column_name].apply(lambda x: isinstance(x, dict)).all():
        # Desanidar la columna 'column_name'
        df_expanded = pd.json_normalize(df[column_name])
        
        # Concatenar las nuevas columnas con el DataFrame original, eliminando la columna original desanidada
        # Agregar sufijos a las columnas que se solapan.
        df = df.drop(columns=[column_name]).join(df_expanded, rsuffix=f'_{column_name}_expanded')
    
    return df

# Función para desanidar todas las columnas de tipo diccionario o JSON en un DataFrame
def flatten_all_json_columns(df):
    # Usar .map en lugar de .applymap para verificar columnas con diccionarios
    columns_to_flatten = df.columns[df.apply(lambda col: col.map(lambda x: isinstance(x, dict)).any())]
    for column in columns_to_flatten:
        df = flatten_json_column(df, column)
    
    return df

# Aplica la función a todas las columnas que contienen diccionarios o JSON
df_flattened_all = flatten_all_json_columns(dict_df)

# Imprimir el nuevo DataFrame con todas las columnas JSON desanidadas
df_flattened_all

,id,customer_id,subscription_id,recurring,status,price_type,date,due_date,net_term_days,exchange_rate,...,adjustment_credit_notes_sub_types_expanded,issued_credit_notes_sub_types_expanded,linked_orders_sub_types_expanded,notes,shipping_address,statement_descriptor,billing_address,einvoice,site_details_at_creation,tax_origin
0,46794,5dde8435e4b098a27bbd4def,AzyWD9Rj28XRP3nc,True,paid,tax_exclusive,1574863926,1574863926,0,1.0,...,<class 'chargebee.models.invoice.Invoice.Adjus...,<class 'chargebee.models.invoice.Invoice.Issue...,<class 'chargebee.models.invoice.Invoice.Linke...,<class 'chargebee.models.invoice.Invoice.Note'>,<class 'chargebee.models.invoice.Invoice.Shipp...,<class 'chargebee.models.invoice.Invoice.State...,<class 'chargebee.models.invoice.Invoice.Billi...,<class 'chargebee.models.invoice.Invoice.Einvo...,<class 'chargebee.models.invoice.Invoice.SiteD...,<class 'chargebee.models.invoice.Invoice.TaxOr...
1,46795,5dde8435e4b098a27bbd4def,AzyWD9Rj28XRP3nc,True,paid,tax_exclusive,1574863934,1574863934,0,1.0,...,<class 'chargebee.models.invoice.Invoice.Adjus...,<class 'chargebee.models.invoice.Invoice.Issue...,<class 'chargebee.models.invoice.Invoice.Linke...,<class 'chargebee.models.invoice.Invoice.Note'>,<class 'chargebee.models.invoice.Invoice.Shipp...,<class 'chargebee.models.invoice.Invoice.State...,<class 'chargebee.models.invoice.Invoice.Billi...,<class 'chargebee.models.invoice.Invoice.Einvo...,<class 'chargebee.models.invoice.Invoice.SiteD...,<class 'chargebee.models.invoice.Invoice.TaxOr...
2,46809,5dde9c4be4b0561f4689bbc2,16BckoRj2YPN9MXm,True,paid,tax_exclusive,1574870091,1574870091,0,1.0,...,<class 'chargebee.models.invoice.Invoice.Adjus...,<class 'chargebee.models.invoice.Invoice.Issue...,<class 'chargebee.models.invoice.Invoice.Linke...,<class 'chargebee.models.invoice.Invoice.Note'>,<class 'chargebee.models.invoice.Invoice.Shipp...,<class 'chargebee.models.invoice.Invoice.State...,<class 'chargebee.models.invoice.Invoice.Billi...,<class 'chargebee.models.invoice.Invoice.Einvo...,<class 'chargebee.models.invoice.Invoice.SiteD...,<class 'chargebee.models.invoice.Invoice.TaxOr...
3,46810,5dde9c4be4b0561f4689bbc2,16BckoRj2YPN9MXm,True,paid,tax_exclusive,1574870100,1574870100,0,1.0,...,<class 'chargebee.models.invoice.Invoice.Adjus...,<class 'chargebee.models.invoice.Invoice.Issue...,<class 'chargebee.models.invoice.Invoice.Linke...,<class 'chargebee.models.invoice.Invoice.Note'>,<class 'chargebee.models.invoice.Invoice.Shipp...,<class 'chargebee.models.invoice.Invoice.State...,<class 'chargebee.models.invoice.Invoice.Billi...,<class 'chargebee.models.invoice.Invoice.Einvo...,<class 'chargebee.models.invoice.Invoice.SiteD...,<class 'chargebee.models.invoice.Invoice.TaxOr...
4,46811,5ddeb9c2e4b08c6105056cf8,16BZFFRj343fAh0S,True,paid,tax_exclusive,1574877634,1574877634,0,1.0,...,<class 'chargebee.models.invoice.Invoice.Adjus...,<class 'chargebee.models.invoice.Invoice.Issue...,<class 'chargebee.models.invoice.Invoice.Linke...,<class 'chargebee.models.invoice.Invoice.Note'>,<class 'chargebee.models.invoice.Invoice.Shipp...,<class 'chargebee.models.invoice.Invoice.State...,<class 'chargebee.models.invoice.Invoice.Billi...,<class 'chargebee.models.invoice.Invoice.Einvo...,<class 'chargebee.models.invoice.Invoice.SiteD...,<class 'chargebee.models.invoice.Invoice.TaxOr...

In [64]:
#y aqui las columnas que dividen los campos json
import json

# Función para desanidar columnas que contienen listas de diccionarios (JSON)
def flatten_list_column(df, column_name):
    # Verificamos si las filas de la columna contienen listas de diccionarios
    df[column_name] = df[column_name].apply(lambda x: json.loads(x) if isinstance(x, str) else x)
    
    # Expandir la lista de diccionarios en nuevas filas
    df_expanded = df[column_name].explode().reset_index(drop=True)
    
    # Desanidar los diccionarios en nuevas columnas
    df_expanded = pd.json_normalize(df_expanded)
    
    # Concatenar el dataframe original con las columnas desanidadas
    df = df.drop(columns=[column_name]).join(df_expanded, rsuffix=f'_{column_name}_expanded')
    
    return df

# Función para desanidar todas las columnas que contienen listas de diccionarios en un DataFrame
def flatten_all_list_columns(df):
    # Verificar si alguna columna contiene listas de diccionarios
    columns_to_flatten = df.columns[df.apply(lambda col: col.map(lambda x: isinstance(x, list) and isinstance(x[0], dict) if isinstance(x, list) and len(x) > 0 else False).any())]
    
    # Desanidar cada columna que contenga listas de diccionarios
    for column in columns_to_flatten:
        df = flatten_list_column(df, column)
    
    return df

# Supongamos que tu dataframe se llama df_flattened_all, ya que es el resultado de desanidar los diccionarios.
# Ahora desanidamos las columnas que contienen listas de objetos (JSON).
df_final = flatten_all_list_columns(df_flattened_all)

# Mostrar el DataFrame con las listas desanidadas
df_final

,id,customer_id,subscription_id,recurring,status,price_type,date,due_date,net_term_days,exchange_rate,...,cn_reason_code,cn_create_reason_code,cn_date,cn_status,cn_id_issued_credit_notes_expanded,cn_reason_code_issued_credit_notes_expanded,cn_create_reason_code_issued_credit_notes_expanded,cn_date_issued_credit_notes_expanded,cn_total,cn_status_issued_credit_notes_expanded
0,46794,5dde8435e4b098a27bbd4def,AzyWD9Rj28XRP3nc,True,paid,tax_exclusive,1574863926,1574863926,0,1.0,...,NaN,NaN,NaN,NaN,TEST-CN-3542,subscription_change,Subscription Change,1.574864e+09,25200.0,refunded
1,46795,5dde8435e4b098a27bbd4def,AzyWD9Rj28XRP3nc,True,paid,tax_exclusive,1574863934,1574863934,0,1.0,...,subscription_change,Subscription Change,1.574864e+09,refunded,NaN,NaN,NaN,NaN,NaN,NaN
2,46809,5dde9c4be4b0561f4689bbc2,16BckoRj2YPN9MXm,True,paid,tax_exclusive,1574870091,1574870091,0,1.0,...,NaN,NaN,NaN,NaN,TEST-CN-3545,subscription_change,Subscription Change,1.574870e+09,25200.0,refunded
3,46810,5dde9c4be4b0561f4689bbc2,16BckoRj2YPN9MXm,True,paid,tax_exclusive,1574870100,1574870100,0,1.0,...,subscription_change,Subscription Change,1.574870e+09,refunded,NaN,NaN,NaN,NaN,NaN,NaN
4,46811,5ddeb9c2e4b08c6105056cf8,16BZFFRj343fAh0S,True,paid,tax_exclusive,1574877634,1574877634,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
#Le cambie la region a argentina utc tal y como lo tuvimos que hacer con panella cuando los traiamos de BigQuery antes
import pytz
argentina_tz = pytz.timezone('America/Argentina/Buenos_Aires')
df_final['date_from'] = pd.to_datetime(df_final['date_from'], unit='s', utc=True).dt.tz_convert(argentina_tz)
df_final['date_to'] = pd.to_datetime(df_final['date_to'], unit='s', utc=True).dt.tz_convert(argentina_tz)
df_final['applied_at'] = pd.to_datetime(df_final['applied_at'], unit='s', utc=True).dt.tz_convert(argentina_tz)
df_final['generated_at'] = pd.to_datetime(df_final['generated_at'], unit='s', utc=True).dt.tz_convert(argentina_tz)
df_final['updated_at'] = pd.to_datetime(df_final['updated_at'], unit='s', utc=True).dt.tz_convert(argentina_tz)
df_final['paid_at'] = pd.to_datetime(df_final['paid_at'], unit='s', utc=True).dt.tz_convert(argentina_tz)
df_final['due_date'] = pd.to_datetime(df_final['due_date'], unit='s', utc=True).dt.tz_convert(argentina_tz)
df_final['date'] = pd.to_datetime(df_final['date'], unit='s', utc=True).dt.tz_convert(argentina_tz)

In [66]:
df_final

,id,customer_id,subscription_id,recurring,status,price_type,date,due_date,net_term_days,exchange_rate,...,cn_reason_code,cn_create_reason_code,cn_date,cn_status,cn_id_issued_credit_notes_expanded,cn_reason_code_issued_credit_notes_expanded,cn_create_reason_code_issued_credit_notes_expanded,cn_date_issued_credit_notes_expanded,cn_total,cn_status_issued_credit_notes_expanded
0,46794,5dde8435e4b098a27bbd4def,AzyWD9Rj28XRP3nc,True,paid,tax_exclusive,2019-11-27 11:12:06-03:00,2019-11-27 11:12:06-03:00,0,1.0,...,NaN,NaN,NaN,NaN,TEST-CN-3542,subscription_change,Subscription Change,1.574864e+09,25200.0,refunded
1,46795,5dde8435e4b098a27bbd4def,AzyWD9Rj28XRP3nc,True,paid,tax_exclusive,2019-11-27 11:12:14-03:00,2019-11-27 11:12:14-03:00,0,1.0,...,subscription_change,Subscription Change,1.574864e+09,refunded,NaN,NaN,NaN,NaN,NaN,NaN
2,46809,5dde9c4be4b0561f4689bbc2,16BckoRj2YPN9MXm,True,paid,tax_exclusive,2019-11-27 12:54:51-03:00,2019-11-27 12:54:51-03:00,0,1.0,...,NaN,NaN,NaN,NaN,TEST-CN-3545,subscription_change,Subscription Change,1.574870e+09,25200.0,refunded
3,46810,5dde9c4be4b0561f4689bbc2,16BckoRj2YPN9MXm,True,paid,tax_exclusive,2019-11-27 12:55:00-03:00,2019-11-27 12:55:00-03:00,0,1.0,...,subscription_change,Subscription Change,1.574870e+09,refunded,NaN,NaN,NaN,NaN,NaN,NaN
4,46811,5ddeb9c2e4b08c6105056cf8,16BZFFRj343fAh0S,True,paid,tax_exclusive,2019-11-27 15:00:34-03:00,2019-11-27 15:00:34-03:00,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
#ordernar por id de manera descendente
order = df_final.sort_values(by = 'id', ascending=True)
order

,id,customer_id,subscription_id,recurring,status,price_type,date,due_date,net_term_days,exchange_rate,...,cn_reason_code,cn_create_reason_code,cn_date,cn_status,cn_id_issued_credit_notes_expanded,cn_reason_code_issued_credit_notes_expanded,cn_create_reason_code_issued_credit_notes_expanded,cn_date_issued_credit_notes_expanded,cn_total,cn_status_issued_credit_notes_expanded
0,46794,5dde8435e4b098a27bbd4def,AzyWD9Rj28XRP3nc,True,paid,tax_exclusive,2019-11-27 11:12:06-03:00,2019-11-27 11:12:06-03:00,0,1.0,...,NaN,NaN,NaN,NaN,TEST-CN-3542,subscription_change,Subscription Change,1.574864e+09,25200.0,refunded
1,46795,5dde8435e4b098a27bbd4def,AzyWD9Rj28XRP3nc,True,paid,tax_exclusive,2019-11-27 11:12:14-03:00,2019-11-27 11:12:14-03:00,0,1.0,...,subscription_change,Subscription Change,1.574864e+09,refunded,NaN,NaN,NaN,NaN,NaN,NaN
2,46809,5dde9c4be4b0561f4689bbc2,16BckoRj2YPN9MXm,True,paid,tax_exclusive,2019-11-27 12:54:51-03:00,2019-11-27 12:54:51-03:00,0,1.0,...,NaN,NaN,NaN,NaN,TEST-CN-3545,subscription_change,Subscription Change,1.574870e+09,25200.0,refunded
3,46810,5dde9c4be4b0561f4689bbc2,16BckoRj2YPN9MXm,True,paid,tax_exclusive,2019-11-27 12:55:00-03:00,2019-11-27 12:55:00-03:00,0,1.0,...,subscription_change,Subscription Change,1.574870e+09,refunded,NaN,NaN,NaN,NaN,NaN,NaN
4,46811,5ddeb9c2e4b08c6105056cf8,16BZFFRj343fAh0S,True,paid,tax_exclusive,2019-11-27 15:00:34-03:00,2019-11-27 15:00:34-03:00,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
#ahora veo los tipos de datos que tiene el dataframe para poderlo comparar con el de Odoo y ver como realizar el importe
def print_invoice_column_types(dataframe):
    for column in dataframe.columns:
        dtype = dataframe[column].dtype
        print(f"{column} \t {dtype}")

# Llamar a la función para mostrar las columnas y tipos de datos
print_invoice_column_types(order)

id 	 object
customer_id 	 object
subscription_id 	 object
recurring 	 bool
status 	 object
price_type 	 object
date 	 datetime64[ns, America/Argentina/Buenos_Aires]
due_date 	 datetime64[ns, America/Argentina/Buenos_Aires]
net_term_days 	 int64
exchange_rate 	 float64
total 	 int64
amount_paid 	 int64
amount_adjusted 	 int64
write_off_amount 	 int64
credits_applied 	 int64
amount_due 	 int64
paid_at 	 datetime64[ns, America/Argentina/Buenos_Aires]
updated_at 	 datetime64[ns, America/Argentina/Buenos_Aires]
resource_version 	 int64
deleted 	 bool
object 	 object
first_invoice 	 bool
amount_to_collect 	 int64
round_off_amount 	 int64
new_sales_amount 	 float64
has_advance_charges 	 bool
currency_code 	 object
base_currency_code 	 object
generated_at 	 datetime64[ns, America/Argentina/Buenos_Aires]
is_gifted 	 bool
term_finalized 	 bool
channel 	 object
tax 	 int64
sub_total 	 int64
adjustment_credit_notes 	 object
linked_orders 	 object
dunning_attempts 	 object
billing_address.first_name 	 object
billing_address.last_name 	 object
billing_address.validation_status 	 object
billing_address.object 	 object
site_details_at_creation.timezone 	 object
site_details_at_creation.organization_address.organization_name 	 object
site_details_at_creation.organization_address.line1 	 object
site_details_at_creation.organization_address.city 	 object
site_details_at_creation.organization_address.state_code 	 object
site_details_at_creation.organization_address.state 	 object
site_details_at_creation.organization_address.country_code 	 object
site_details_at_creation.organization_address.zip 	 object
site_details_at_creation.organization_address.phone 	 object
tax_origin.country 	 object
line_items_sub_types_expanded 	 object
discounts 	 object
line_item_discounts 	 object
taxes 	 object
line_item_taxes 	 object
line_item_tiers 	 object
linked_payments_sub_types_expanded 	 object
dunning_attempts_sub_types_expanded 	 object
applied_credits_sub_types_expanded 	 object
adjustment_credit_notes_sub_types_expanded 	 object
issued_credit_notes_sub_types_expanded 	 object
linked_orders_sub_types_expanded 	 object
notes 	 object
shipping_address 	 object
statement_descriptor 	 object
billing_address 	 object
einvoice 	 object
site_details_at_creation 	 object
tax_origin 	 object
id_line_items_expanded 	 object
date_from 	 datetime64[ns, America/Argentina/Buenos_Aires]
date_to 	 datetime64[ns, America/Argentina/Buenos_Aires]
unit_amount 	 int64
quantity 	 int64
amount 	 int64
pricing_model 	 object
is_taxed 	 bool
tax_amount 	 int64
object_line_items_expanded 	 object
subscription_id_line_items_expanded 	 object
customer_id_line_items_expanded 	 object
description 	 object
entity_type 	 object
entity_id 	 object
tax_exempt_reason 	 object
discount_amount 	 int64
item_level_discount_amount 	 int64
txn_id 	 object
applied_amount 	 int64
applied_at 	 datetime64[ns, America/Argentina/Buenos_Aires]
txn_status 	 object
txn_date 	 int64
txn_amount 	 int64
applied_amount_applied_credits_expanded 	 float64
applied_at_applied_credits_expanded 	 float64
cn_id 	 object
cn_reason_code 	 object
cn_create_reason_code 	 object
cn_date 	 float64
cn_status 	 object
cn_id_issued_credit_notes_expanded 	 object
cn_reason_code_issued_credit_notes_expanded 	 object
cn_create_reason_code_issued_credit_notes_expanded 	 object
cn_date_issued_credit_notes_expanded 	 float64
cn_total 	 float64
cn_status_issued_credit_notes_expanded 	 object

In [ ]:
#a partir de aqui empieza lo de Odoo

In [17]:
#primero con las pruebas de insercion en sales.order


odoo.create('sale.order', [{
                            'campaign_id': False,
                            'source_id': False,
                            'medium_id': False,
                            'activity_ids': [],
                            'activity_state': True,
                            'partner_id': 11, 
                            'company_id': 1,
                            'website_id': 1,
                            }])

356

In [69]:
# aqui yo buscaba antes un id recien creado por el codigo anterior
sale_order_345 = odoo.execute('sale.order', 'search_read', [[['id', '=', 354]], [], 0, 1])
print(sale_order_345)

[{'id': 354, 'campaign_id': False, 'source_id': False, 'medium_id': False, 'activity_ids': [], 'activity_state': False, 'activity_user_id': False, 'activity_type_id': False, 'activity_type_icon': False, 'activity_date_deadline': False, 'my_activity_date_deadline': False, 'activity_summary': False, 'activity_exception_decoration': False, 'activity_exception_icon': False, 'activity_calendar_event_id': False, 'message_is_follower': True, 'message_follower_ids': [1243], 'message_partner_ids': [121], 'message_ids': [2745], 'has_message': True, 'message_needaction': False, 'message_needaction_counter': 0, 'message_has_error': False, 'message_has_error_counter': 0, 'message_attachment_count': 0, 'rating_ids': [], 'website_message_ids': [], 'message_has_sms_error': False, 'access_url': '/my/orders/354', 'access_token': False, 'access_warning': '', 'name': 'V 0001-00000342', 'company_id': [1, 'REGEX LLC'], 'partner_id': [11, 'Gemini Furniture'], 'state': 'draft', 'locked': False, 'client_order_ref': False, 'create_date': '2024-09-13 16:08:10', 'commitment_date': False, 'date_order': '2024-09-13 16:08:11', 'origin': False, 'reference': False, 'require_signature': False, 'require_payment': True, 'prepayment_percent': 1.0, 'signature': False, 'signed_by': False, 'signed_on': False, 'validity_date': '2024-12-22', 'journal_id': False, 'note': '<p>Términos y condiciones: <a href="https://demo-28-08-6.adhoc.ar/terms" target="_blank" rel="noreferrer noopener">https://demo-28-08-6.adhoc.ar/terms</a></p>', 'partner_invoice_id': [11, 'Gemini Furniture'], 'partner_shipping_id': [11, 'Gemini Furniture'], 'fiscal_position_id': False, 'payment_term_id': [1, 'Immediate Payment'], 'pricelist_id': [1, 'Public Pricelist (USD)'], 'currency_id': [1, 'USD'], 'currency_rate': 1.0, 'user_id': False, 'team_id': [1, 'Sales'], 'order_line': [], 'amount_untaxed': 0.0, 'amount_tax': 0.0, 'amount_total': 0.0, 'amount_to_invoice': 0.0, 'amount_invoiced': 0.0, 'invoice_count': 0, 'invoice_ids': [], 'invoice_status': 'no', 'transaction_ids': [], 'authorized_transaction_ids': [], 'amount_paid': 0.0, 'analytic_account_id': False, 'tag_ids': [], 'amount_undiscounted': 0.0, 'country_code': 'US', 'expected_date': False, 'is_expired': False, 'partner_credit_warning': '', 'tax_calculation_rounding_method': 'round_per_line', 'tax_country_id': [233, 'United States'], 'tax_totals': {'amount_untaxed': 0.0, 'amount_total': 0.0, 'formatted_amount_total': 'USD\xa00,00', 'formatted_amount_untaxed': 'USD\xa00,00', 'groups_by_subtotal': {}, 'subtotals': [], 'subtotals_order': [], 'display_tax_base': False}, 'terms_type': 'html', 'type_name': 'Quotation', 'show_update_fpos': False, 'has_active_pricelist': True, 'show_update_pricelist': False, 'display_name': 'V 0001-00000342', 'create_uid': [15, 'Chargebee'], 'write_uid': [15, 'Chargebee'], 'write_date': '2024-09-13 16:08:10', 'carrier_id': False, 'delivery_message': False, 'delivery_rating_success': False, 'delivery_set': False, 'recompute_delivery_price': False, 'is_all_service': True, 'shipping_weight': 0.0, 'pending_email_template_id': False, 'opportunity_id': False, 'is_tax_computed_externally': False, 'is_avatax': False, 'applied_coupon_ids': [], 'code_enabled_rule_ids': [], 'coupon_point_ids': [], 'reward_amount': 0.0, 'sale_order_template_id': False, 'sale_order_option_ids': [], 'purchase_order_count': 0, 'is_rental_order': False, 'has_rented_products': False, 'rental_start_date': False, 'rental_return_date': False, 'duration_days': 0, 'remaining_hours': 0, 'show_update_duration': False, 'rental_status': False, 'next_action_date': False, 'has_pickable_lines': False, 'has_returnable_lines': False, 'is_late': False, 'incoterm': False, 'incoterm_location': False, 'picking_policy': 'direct', 'warehouse_id': [1, 'Muebleria US'], 'picking_ids': [], 'delivery_count': 0, 'delivery_status': 'no', 'procurement_group_id': False, 'effective_date': False, 'json_popover': '{"popoverTemplate": "sale_stock.DelayAlertWidget", "late_elements": []}', 'show_json_popover': False, 'avatax_unique_code': 'Sales Order 354', 'vat_discriminated': False, 'sale_checkbook_id': False, 'repair_order_ids': [], 'repair_count': 0, 'expense_ids': [], 'expense_count': 0, 'margin': 0.0, 'margin_percent': 0.0, 'mrp_production_count': 0, 'mrp_production_ids': [], 'type_id': [1, 'Normal Order'], 'rating_last_value': 0.0, 'rating_last_feedback': False, 'rating_last_image': False, 'rating_count': 0, 'rating_avg': 0.0, 'rating_avg_text': 'none', 'rating_percentage_satisfaction': -1.0, 'rating_last_text': False, 'is_subscription': False, 'plan_id': False, 'subscription_state': False, 'subscription_id': False, 'origin_order_id': False, 'subscription_child_ids': [], 'start_date': False, 'last_invoice_date': False, 'next_invoice_date': False, 'end_date': False, 'first_contract_date': False, 'close_reason_id': False, 'payment_token_id': False, 'is_batch': False, 'is_invoice_cron': False, 'payment_exception': False, 'pending_transaction': False, 'kpi_1month_mrr_delta': 0.0, 'kpi_1month_mrr_percentage': 0.0, 'kpi_3months_mrr_delta': 0.0, 'kpi_3months_mrr_percentage': 0.0, 'team_user_id': False, 'commercial_partner_id': [11, 'Gemini Furniture'], 'recurring_total': 0.0, 'recurring_monthly': 0.0, 'non_recurring_total': 0.0, 'order_log_ids': [], 'percentage_satisfaction': -1, 'health': 'normal', 'note_order': [354, 'V 0001-00000342'], 'internal_note': False, 'internal_note_display': False, 'recurring_details': '', 'is_renewing': False, 'is_upselling': False, 'display_late': False, 'archived_product_ids': [], 'archived_product_count': 0, 'history_count': 0, 'upsell_count': 0, 'renewal_count': 0, 'has_recurring_line': False, 'starred_user_ids': [15], 'starred': True, 'user_closable': False, 'user_quantity': False, 'user_extend': False, 'internal_notes': False, 'force_invoiced_status': False, 'website_order_line': [], 'cart_quantity': 0, 'only_services': True, 'is_abandoned_cart': False, 'cart_recovery_email_sent': False, 'website_id': [1, 'My Website'], 'shop_warning': False, 'amount_delivery': 0.0, 'access_point_address': False, 'tasks_ids': [], 'tasks_count': 0, 'visible_project': False, 'project_id': False, 'project_ids': [], 'project_count': 0, 'milestone_count': 0, 'is_product_milestone': False, 'show_create_project_button': False, 'show_project_button': False, 'show_task_button': False, 'end_dates_required': False, 'subscription_invoice_line_ids': [], 'disabled_auto_rewards': [], 'force_delivery_status': False, 'with_returns': False, 'timesheet_count': 0.0, 'timesheet_encode_uom_id': [4, 'Hours'], 'timesheet_total_duration': 0, 'show_hours_recorded_button': False, 'task_id': False}]

In [71]:
#aqui hacemos el llamado a las invoices de clientes en Odoo
odf = odoo.execute('account.move', 'search_read', [[['id', '>', 1]], 0, 20])
dfc = pd.DataFrame(odf)
dfc

,id,campaign_id,source_id,medium_id,is_tax_computed_externally,is_avatax,sequence_prefix,sequence_number,activity_ids,activity_state,...,l10n_ar_afip_asoc_period_start,l10n_ar_afip_asoc_period_end,l10n_ar_boarding_permission_ids,timesheet_ids,timesheet_count,timesheet_encode_uom_id,timesheet_total_duration,document_type_internal_type,invoice_validation_type,l10n_ar_edi_warning
0,3,False,False,False,False,False,INV/2024/,4,[14],overdue,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
1,12,False,False,False,False,False,RINV/2024/,3,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
2,4,False,False,False,False,False,INV/2024/,1,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
3,16,False,False,False,False,False,MISC/2024/07/,2,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
4,15,False,False,False,False,False,MISC/2024/07/,1,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
5,9,False,False,False,False,False,RINV/2024/,2,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
6,8,False,False,False,False,False,RINV/2024/,1,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
7,24,False,False,False,False,False,BNK1/2024/,8,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
8,23,False,False,False,False,False,BNK1/2024/,7,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
9,22,False,False,False,False,False,BNK1/2024/,6,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
10,21,False,False,False,False,False,BNK1/2024/,5,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
11,20,False,False,False,False,False,BNK1/2024/,4,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
12,19,False,False,False,False,False,BNK1/2024/,3,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
13,18,False,False,False,False,False,BNK1/2024/,2,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
14,17,False,False,False,False,False,BNK1/2024/,1,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
15,11,False,False,False,False,False,RBILL/2023/05/,1,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
16,7,False,False,False,False,False,BILL/2023/05/,1,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False

In [163]:
#aqui fue en donde vi como es que se almacena el registro de partner_id (que es un array)
sub_dfc = dfc['partner_id']
sub_dfc

0        [10, Deco Addict]
1        [10, Deco Addict]
2        [10, Deco Addict]
3        [10, Deco Addict]
4        [10, Deco Addict]
5     [14, Azure Interior]
6     [14, Azure Interior]
7                    False
8        [10, Deco Addict]
9                    False
10    [14, Azure Interior]
11    [14, Azure Interior]
12                   False
13    [14, Azure Interior]
14                   False
15    [14, Azure Interior]
16    [14, Azure Interior]
Name: partner_id, dtype: object

In [73]:
#tal y como describi los campos de las invoices de Chargebee, ahora hago lo mismo con las de Odoo
def print_column_types_inv(dataframe):
    for column in dataframe.columns:
        dtype = dataframe[column].dtype
        print(f"{column} \t {dtype}")

# Llamar a la función para mostrar las columnas y tipos de datos
print_column_types_inv(dfc)

id 	 int64
campaign_id 	 bool
source_id 	 bool
medium_id 	 bool
is_tax_computed_externally 	 bool
is_avatax 	 bool
sequence_prefix 	 object
sequence_number 	 int64
activity_ids 	 object
activity_state 	 object
activity_user_id 	 object
activity_type_id 	 object
activity_type_icon 	 object
activity_date_deadline 	 object
my_activity_date_deadline 	 bool
activity_summary 	 object
activity_exception_decoration 	 bool
activity_exception_icon 	 bool
activity_calendar_event_id 	 bool
access_url 	 object
access_token 	 bool
access_warning 	 object
message_is_follower 	 bool
message_follower_ids 	 object
message_partner_ids 	 object
message_ids 	 object
has_message 	 bool
message_needaction 	 bool
message_needaction_counter 	 int64
message_has_error 	 bool
message_has_error_counter 	 int64
message_attachment_count 	 int64
rating_ids 	 object
website_message_ids 	 object
message_has_sms_error 	 bool
message_main_attachment_id 	 object
name 	 object
ref 	 object
date 	 object
state 	 object
move_type 	 object
is_storno 	 bool
journal_id 	 object
company_id 	 object
line_ids 	 object
payment_id 	 bool
statement_line_id 	 object
statement_id 	 object
tax_cash_basis_rec_id 	 bool
tax_cash_basis_origin_move_id 	 bool
tax_cash_basis_created_move_ids 	 object
always_tax_exigible 	 bool
auto_post 	 object
auto_post_until 	 bool
auto_post_origin_id 	 bool
hide_post_button 	 bool
to_check 	 bool
posted_before 	 bool
suitable_journal_ids 	 object
highest_name 	 object
made_sequence_hole 	 bool
show_name_warning 	 bool
type_name 	 object
country_code 	 object
attachment_ids 	 object
restrict_mode_hash_table 	 bool
secure_sequence_number 	 int64
inalterable_hash 	 bool
string_to_hash 	 object
invoice_line_ids 	 object
invoice_date 	 object
invoice_date_due 	 object
delivery_date 	 object
show_delivery_date 	 bool
invoice_payment_term_id 	 object
needed_terms_dirty 	 bool
tax_calculation_rounding_method 	 object
partner_id 	 object
commercial_partner_id 	 object
partner_shipping_id 	 object
partner_bank_id 	 bool
fiscal_position_id 	 bool
payment_reference 	 object
display_qr_code 	 bool
qr_code_method 	 bool
invoice_outstanding_credits_debits_widget 	 object
invoice_has_outstanding 	 bool
invoice_payments_widget 	 bool
company_currency_id 	 object
currency_id 	 object
direction_sign 	 int64
amount_untaxed 	 float64
amount_tax 	 float64
amount_total 	 float64
amount_residual 	 float64
amount_untaxed_signed 	 float64
amount_tax_signed 	 float64
amount_total_signed 	 float64
amount_total_in_currency_signed 	 float64
amount_residual_signed 	 float64
tax_totals 	 object
payment_state 	 object
amount_total_words 	 object
reversed_entry_id 	 bool
reversal_move_id 	 object
invoice_vendor_bill_id 	 bool
invoice_source_email 	 bool
invoice_partner_display_name 	 object
quick_edit_mode 	 bool
quick_edit_total_amount 	 float64
narration 	 bool
is_move_sent 	 bool
is_being_sent 	 bool
invoice_user_id 	 object
user_id 	 object
invoice_origin 	 bool
invoice_incoterm_id 	 bool
incoterm_location 	 bool
invoice_cash_rounding_id 	 bool
send_and_print_values 	 bool
invoice_pdf_report_id 	 bool
invoice_pdf_report_file 	 bool
invoice_filter_type_domain 	 object
bank_partner_id 	 object
tax_lock_date_message 	 bool
display_inactive_currency_warning 	 bool
tax_country_id 	 object
tax_country_code 	 object
has_reconciled_entries 	 bool
show_reset_to_draft_button 	 bool
partner_credit_warning 	 object
partner_credit 	 float64
duplicated_ref_ids 	 object
need_cancel_request 	 bool
show_update_fpos 	 bool
show_payment_term_details 	 bool
show_discount_details 	 bool
display_name 	 object
create_uid 	 object
create_date 	 object
write_uid 	 object
write_date 	 object
payment_ids 	 object
statement_line_ids 	 object
payment_state_before_switch 	 bool
deferred_move_ids 	 object
deferred_original_move_ids 	 object
deferred_entry_type 	 bool
background_post 	 bool
preferred_payment_method_id 	 bool
debit_origin_id 	 bool
debit_note_ids 	 object
debit_note_count 	 int64
edi_document_ids 	 object
edi_state 	 bool
edi_error_count 	 int64
edi_blocking_level 	 bool
edi_error_message 	 bool
edi_web_services_to_process 	 object
edi_show_cancel_button 	 bool
edi_show_abandon_cancel_button 	 bool
edi_show_force_cancel_button 	 bool
ubl_cii_xml_id 	 bool
ubl_cii_xml_file 	 bool
extract_state 	 object
extract_status 	 bool
extract_error_message 	 object
extract_document_uuid 	 bool
extract_can_show_send_button 	 bool
is_in_extractable_state 	 bool
extract_state_processed 	 bool
extract_word_ids 	 object
extract_attachment_id 	 bool
extract_can_show_banners 	 bool
extract_detected_layout 	 int64
extract_partner_name 	 bool
transaction_ids 	 object
authorized_transaction_ids 	 object
amount_paid 	 float64
expense_sheet_id 	 bool
show_commercial_partner_warning 	 bool
purchase_vendor_bill_id 	 bool
purchase_id 	 bool
purchase_order_count 	 int64
stock_move_id 	 bool
stock_valuation_layer_ids 	 object
transfer_model_id 	 bool
avatax_unique_code 	 object
avatax_tax_date 	 bool
tax_closing_end_date 	 bool
tax_report_control_error 	 bool
tax_closing_alert 	 bool
tax_closing_show_multi_closing_warning 	 bool
internal_notes 	 bool
other_currency 	 bool
l10n_es_is_simplified 	 bool
l10n_latam_available_document_type_ids 	 object
l10n_latam_document_type_id 	 bool
l10n_latam_document_number 	 object
l10n_latam_use_documents 	 bool
l10n_latam_manual_document_number 	 bool
l10n_latam_document_type_id_code 	 bool
team_id 	 object
sale_order_count 	 int64
allow_move_with_valuation_cancelation 	 bool
asset_id 	 bool
asset_remaining_value 	 float64
asset_depreciated_value 	 float64
asset_value_change 	 bool
asset_number_days 	 int64
asset_depreciation_beginning_date 	 bool
depreciation_value 	 float64
asset_ids 	 object
asset_id_display_name 	 object
count_asset 	 int64
draft_asset_exists 	 bool
open_move_line_ids 	 object
pay_now_journal_id 	 bool
impacting_cash_basis 	 bool
suspense_statement_line_id 	 bool
l10n_ar_afip_responsibility_type_id 	 bool
l10n_ar_currency_rate 	 float64
l10n_ar_afip_concept 	 bool
l10n_ar_afip_service_start 	 bool
l10n_ar_afip_service_end 	 bool
partner_id_vat 	 object
l10n_latam_internal_type 	 bool
l10n_es_edi_facturae_xml_id 	 bool
l10n_es_edi_facturae_xml_file 	 bool
l10n_es_edi_facturae_reason_code 	 object
l10n_es_reports_mod347_invoice_type 	 bool
l10n_es_reports_mod347_available 	 bool
l10n_es_reports_mod349_invoice_type 	 bool
l10n_es_reports_mod349_available 	 bool
purchase_order_ids 	 object
has_purchases 	 bool
settled_line_ids 	 object
l10n_ar_afip_auth_mode 	 bool
l10n_ar_afip_auth_code 	 bool
l10n_ar_afip_auth_code_due 	 bool
l10n_ar_afip_qr_code 	 bool
l10n_ar_afip_xml_request 	 bool
l10n_ar_afip_xml_response 	 bool
l10n_ar_afip_result 	 bool
l10n_ar_afip_ws 	 bool
l10n_ar_afip_verification_type 	 object
l10n_ar_afip_verification_result 	 bool
l10n_ar_afip_fce_is_cancellation 	 bool
l10n_ar_fce_transmission_type 	 bool
computed_currency_rate 	 float64
l10n_ar_withholding_ids 	 object
l10n_cl_sii_barcode 	 bool
l10n_cl_dte_status 	 bool
l10n_cl_dte_partner_status 	 bool
l10n_cl_dte_acceptation_status 	 bool
l10n_cl_claim 	 bool
l10n_cl_claim_description 	 bool
l10n_cl_sii_send_file 	 bool
l10n_cl_dte_file 	 bool
l10n_cl_sii_send_ident 	 bool
l10n_cl_journal_point_of_sale_type 	 bool
l10n_cl_reference_ids 	 object
l10n_es_invoicing_period_start_date 	 bool
l10n_es_invoicing_period_end_date 	 bool
sale_type_id 	 bool
sale_order_ids 	 object
has_sales 	 bool
picking_ids 	 object
picking_count 	 int64
website_id 	 bool
l10n_ar_afip_asoc_period_start 	 bool
l10n_ar_afip_asoc_period_end 	 bool
l10n_ar_boarding_permission_ids 	 object
timesheet_ids 	 object
timesheet_count 	 int64
timesheet_encode_uom_id 	 object
timesheet_total_duration 	 int64
document_type_internal_type 	 bool
invoice_validation_type 	 bool
l10n_ar_edi_warning 	 bool

In [147]:
#aqui el codigo que genera una invoice de clientes 
odoo.create('account.move', [{
    'move_type': 'out_invoice',  # Factura de cliente
    'partner_id': 132,  # ID del cliente
    'company_id': 1,  # ID de la compañía
    'website_id': 1,  # ID del sitio web
    'campaign_id': False,
    'source_id': False,
    'medium_id': False,
    'activity_ids': [],
    'amount_total': 28.75,
    'amount_residual': 28.75,
    'amount_total_signed': 28.75,
    'amount_total_in_currency_signed': 28.75,
    'amount_residual_signed': 28.75,
    'activity_state': True,
}])

165

In [149]:
# Leer todas las facturas (sin establecer un dominio específico) todo para comprobar que la insercion fue exitosa
invoices = odoo.search_read('account.move', [], ['id', 'name', 'date', 'amount_total', 'partner_id'])

customers_invoice = pd.DataFrame(invoices)
customers_invoice

,id,name,date,amount_total,partner_id
0,165,/,2024-09-20,28.75,"[132, 5dde8435e4b098a27bbd4def]"
1,164,/,2024-09-20,28.75,"[11, Gemini Furniture]"
2,161,INV/2024/00011,2024-09-17,28.75,"[11, Gemini Furniture]"
3,163,/,2024-09-17,0.00,False
4,160,/,2024-09-17,0.00,"[11, Gemini Furniture]"
5,159,/,2024-09-16,28.75,"[11, Gemini Furniture]"
6,158,/,2024-09-16,28.75,"[11, Gemini Furniture]"
7,157,/,2024-09-16,0.00,"[11, Gemini Furniture]"
8,162,INV/2024/00012,2024-09-10,575.00,"[10, Deco Addict]"
9,50,/,2024-08-31,0.00,False

In [159]:
#llame a todas las invoice otra vez pero para separar los campos del array(al final no sirvio porque solamente fue una operacion 
# de lectura :()
i = odoo.search_read('account.move', [], [])
inv = pd.DataFrame(i)
inv

,id,campaign_id,source_id,medium_id,is_tax_computed_externally,is_avatax,sequence_prefix,sequence_number,activity_ids,activity_state,...,l10n_ar_afip_asoc_period_start,l10n_ar_afip_asoc_period_end,l10n_ar_boarding_permission_ids,timesheet_ids,timesheet_count,timesheet_encode_uom_id,timesheet_total_duration,document_type_internal_type,invoice_validation_type,l10n_ar_edi_warning
0,165,False,False,False,False,False,,0,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
1,164,False,False,False,False,False,,0,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
2,161,False,False,False,False,False,INV/2024/,11,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
3,163,False,False,False,False,False,,0,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
4,160,False,False,False,False,False,,0,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
5,159,False,False,False,False,False,,0,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
6,158,False,False,False,False,False,,0,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
7,157,False,False,False,False,False,,0,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
8,162,False,False,False,False,False,INV/2024/,12,[],False,...,False,False,[],[],0,"[4, Hours]",0,False,False,False
9,50,False,False,False,False,False,,0,[57],overdue,...,False,False,[],[],0,"[4, Hours]",0,False,False,False

In [160]:
inv['partner_id']

0    [132, 5dde8435e4b098a27bbd4def]
1             [11, Gemini Furniture]
2             [11, Gemini Furniture]
3                              False
4             [11, Gemini Furniture]
5             [11, Gemini Furniture]
6             [11, Gemini Furniture]
7             [11, Gemini Furniture]
8                  [10, Deco Addict]
9                              False
Name: partner_id, dtype: object

In [161]:
def split_partner_id(partner):
    if isinstance(partner, list) and len(partner) == 2:
        return pd.Series(partner)
    else:
        return pd.Series([None, None])

# Aplicar la función para separar 'partner_id' en dos columnas
inv[['partner_id', 'partner_name']] = inv['partner_id'].apply(split_partner_id)

# Mostrar el DataFrame resultante
inv

,id,campaign_id,source_id,medium_id,is_tax_computed_externally,is_avatax,sequence_prefix,sequence_number,activity_ids,activity_state,...,l10n_ar_afip_asoc_period_end,l10n_ar_boarding_permission_ids,timesheet_ids,timesheet_count,timesheet_encode_uom_id,timesheet_total_duration,document_type_internal_type,invoice_validation_type,l10n_ar_edi_warning,partner_name
0,165,False,False,False,False,False,,0,[],False,...,False,[],[],0,"[4, Hours]",0,False,False,False,5dde8435e4b098a27bbd4def
1,164,False,False,False,False,False,,0,[],False,...,False,[],[],0,"[4, Hours]",0,False,False,False,Gemini Furniture
2,161,False,False,False,False,False,INV/2024/,11,[],False,...,False,[],[],0,"[4, Hours]",0,False,False,False,Gemini Furniture
3,163,False,False,False,False,False,,0,[],False,...,False,[],[],0,"[4, Hours]",0,False,False,False,None
4,160,False,False,False,False,False,,0,[],False,...,False,[],[],0,"[4, Hours]",0,False,False,False,Gemini Furniture
5,159,False,False,False,False,False,,0,[],False,...,False,[],[],0,"[4, Hours]",0,False,False,False,Gemini Furniture
6,158,False,False,False,False,False,,0,[],False,...,False,[],[],0,"[4, Hours]",0,False,False,False,Gemini Furniture
7,157,False,False,False,False,False,,0,[],False,...,False,[],[],0,"[4, Hours]",0,False,False,False,Gemini Furniture
8,162,False,False,False,False,False,INV/2024/,12,[],False,...,False,[],[],0,"[4, Hours]",0,False,False,False,Deco Addict
9,50,False,False,False,False,False,,0,[57],overdue,...,False,[],[],0,"[4, Hours]",0,False,False,False,None

In [162]:
inv[['id', 'partner_id', 'partner_name', 'invoice_line_ids']]

    id  partner_id              partner_name invoice_line_ids
0  165       132.0  5dde8435e4b098a27bbd4def               []
1  164        11.0          Gemini Furniture               []
2  161        11.0          Gemini Furniture            [473]
3  163         NaN                      None            [479]
4  160        11.0          Gemini Furniture               []
5  159        11.0          Gemini Furniture               []
6  158        11.0          Gemini Furniture               []
7  157        11.0          Gemini Furniture               []
8  162        10.0               Deco Addict            [476]
9   50         NaN                      None               []

In [79]:
#realice el llamado del campo del customer de Chargebee para ingresarlo en res.partner
customerdf = order['customer_id']
customerdf

0    5dde8435e4b098a27bbd4def
1    5dde8435e4b098a27bbd4def
2    5dde9c4be4b0561f4689bbc2
3    5dde9c4be4b0561f4689bbc2
4    5ddeb9c2e4b08c6105056cf8
Name: customer_id, dtype: object

In [123]:
#como los customers que vamos a ingresar estaban duplicados en el llamado, pues elimine los duplicados ya que a partir de este dataframe 
#hare las inserciones en el modelo res.partner
customers = customerdf.drop_duplicates()
customers

0    5dde8435e4b098a27bbd4def
2    5dde9c4be4b0561f4689bbc2
4    5ddeb9c2e4b08c6105056cf8
Name: customer_id, dtype: object

In [132]:
#busque los res.partner que es en donde se van a almacenar los customer de Chargebee
i2 = odoo.search_read('res.partner', [], [])
partner = pd.DataFrame(i2)
partner

,id,avatax_unique_code,website_id,website_published,is_published,can_publish,website_url,message_is_follower,message_follower_ids,message_partner_ids,...,l10n_es_edi_facturae_ac_role_type_ids,l10n_es_edi_facturae_ac_physical_gln,l10n_es_edi_facturae_ac_logical_operational_point,sale_type,subscription_count,last_website_so_id,l10n_cl_delivery_guide_price,arba_alicuot_ids,drei,default_regimen_ganancias_id
0,86,Contact 86,False,False,False,True,#,False,[],[],...,[],False,False,False,0,False,sale_order,[],False,False
1,87,Contact 87,False,False,False,True,#,False,[],[],...,[],False,False,False,0,False,sale_order,[],False,False
2,67,Contact 67,False,False,False,True,#,False,[],[],...,[],False,False,False,0,False,sale_order,[],False,False
3,132,Contact 132,False,False,False,True,#,True,[1258],[121],...,[],False,False,False,0,False,sale_order,[],False,False
4,133,Contact 133,False,False,False,True,#,True,[1259],[121],...,[],False,False,False,0,False,sale_order,[],False,False
5,134,Contact 134,False,False,False,True,#,True,[1260],[121],...,[],False,False,False,0,False,sale_order,[],False,False
6,89,Contact 89,False,False,False,True,#,False,[],[],...,[],False,False,False,1,False,sale_order,[],False,"[9, 78]"
7,85,Contact 85,False,False,False,True,#,False,[],[],...,[],False,False,False,0,False,sale_order,[],False,False
8,47,Contact 47,False,False,False,True,#,False,[],[],...,[],False,False,False,0,False,sale_order,[],False,False
9,104,Contact 104,False,False,False,True,#,False,[],[],...,[],False,False,False,0,False,sale_order,[],False,False

In [133]:
#visualizo 
i3 = partner[['name', 'id']]

In [134]:
i3

                             name   id
0                     (AR) Exento   86
1             (AR) Monotributista   87
2  0h3n-rijaune@yahoo.example.com   67
3        5dde8435e4b098a27bbd4def  132
4        5dde9c4be4b0561f4689bbc2  133
5        5ddeb9c2e4b08c6105056cf8  134
6                        ADHOC SA   89
7                            AFIP   85
8                Abigail Peterson   47
9            Andes Innovación SpA  104

In [56]:
#luego ejecute una insercion en ese modelo y funciono exitosamente (el campo que vi que podia llenar con el string de un customer_id)
#era ese campo name de todos los que tiene el dataframe
odoo.create('res.partner', [{
    'name': '5dde8435e4b098a27bbd4def'
}])

126

In [128]:
#ahora visualizo los tipos de datos que tiene cada campo en el dataframe que muestra los registros del modelo res.partner
def print_partners_types_inv(dataframe):
    for column in dataframe.columns:
        dtype = dataframe[column].dtype
        print(f"{column} \t {dtype}")

# Llamar a la función para mostrar las columnas y tipos de datos
print_partners_types_inv(i3)

name 	 object
id 	 int64

In [129]:
#visualizo el tipo de dato de cada campo en el dataframe de res.partner
many = partner.select_dtypes(include=['object'])
many

,avatax_unique_code,website_url,message_follower_ids,message_partner_ids,message_ids,rating_ids,website_message_ids,email_normalized,activity_ids,image_1920,...,l10n_es_edi_facturae_residence_type,gross_income_jurisdiction_ids,imp_ganancias_padron,actividades_padron,impuestos_padron,l10n_cl_dte_email,l10n_es_edi_facturae_ac_role_type_ids,l10n_cl_delivery_guide_price,arba_alicuot_ids,default_regimen_ganancias_id
0,Contact 86,#,[],[],[1115],[],[],info@exento.example.com,[],iVBORw0KGgoAAAANSUhEUgAAAcIAAAB4CAYAAABhPvLiAA...,...,E,[],False,[],[],False,[],sale_order,[],False
1,Contact 87,#,[],[],"[1382, 1126]",[],[],info@example.com,[],iVBORw0KGgoAAAANSUhEUgAAAcIAAAB4CAYAAABhPvLiAA...,...,E,[],False,[],[],False,[],sale_order,[],False
2,Contact 67,#,[],[],[480],[],[],0h3n-rijaune@yahoo.example.com,[],False,...,E,[],False,[],[],False,[],sale_order,[],False
3,Contact 132,#,[1258],[121],[2770],[],[],False,[],False,...,E,[],False,[],[],False,[],sale_order,[],False
4,Contact 133,#,[1259],[121],[2771],[],[],False,[],False,...,E,[],False,[],[],False,[],sale_order,[],False
5,Contact 134,#,[1260],[121],[2772],[],[],False,[],False,...,E,[],False,[],[],False,[],sale_order,[],False
6,Contact 89,#,[],[],[1150],[],[],info@adhoc.com.ar,[],iVBORw0KGgoAAAANSUhEUgAAAUkAAAFJCAYAAAAWit+oAA...,...,E,[],AC,[],[],False,[],sale_order,[],"[9, 78]"
7,Contact 85,#,[],[],[1114],[],[],False,[],False,...,E,[],False,[],[],False,[],sale_order,[],False
8,Contact 47,#,[],[],[162],[],[],abigail.peterson39@example.com,[],/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAMCAgICAgMCAg...,...,E,[],False,[],[],False,[],sale_order,[],False
9,Contact 104,#,[],[],[1245],[],[],innovacion@andes.com,[],False,...,E,[],False,[],[],dte1@example.com,[],sale_order,[],False

In [130]:
many['name']

0                       (AR) Exento
1               (AR) Monotributista
2    0h3n-rijaune@yahoo.example.com
3          5dde8435e4b098a27bbd4def
4          5dde9c4be4b0561f4689bbc2
5          5ddeb9c2e4b08c6105056cf8
6                          ADHOC SA
7                              AFIP
8                  Abigail Peterson
9              Andes Innovación SpA
Name: name, dtype: object

In [124]:
#ahora procedo a hacer un "Bulk insert nada mas de los customers en los res.partner"
# Asegurarse de que customer_ids contiene datos válidos
customer_ids = customers.tolist()

# Crear una lista de diccionarios, donde cada diccionario corresponde a un registro a insertar
records_to_insert = [{'name': customer_id} for customer_id in customer_ids]

# Realizar la inserción masiva uno por uno para evitar sobrecarga en la llamada a Odoo.create
for record in records_to_insert:
    odoo.create('res.partner', [record])

In [ ]:
#y cuando lo ejecuto funciona pero al llamar al dataframe de res.partner, no me muestra los cambios

In [131]:
many['name']

0                       (AR) Exento
1               (AR) Monotributista
2    0h3n-rijaune@yahoo.example.com
3          5dde8435e4b098a27bbd4def
4          5dde9c4be4b0561f4689bbc2
5          5ddeb9c2e4b08c6105056cf8
6                          ADHOC SA
7                              AFIP
8                  Abigail Peterson
9              Andes Innovación SpA
Name: name, dtype: object

In [116]:
#ahora voy a eliminar esos registros ya que aun no habia corregido los customers ya que hay duplicados
# Supongamos que tienes el ID del registro que deseas eliminar
partner_id_to_delete = 131  # Reemplaza con el ID real que deseas eliminar

# Realizar la operación de eliminación
odoo.execute('res.partner', 'unlink', [partner_id_to_delete])

True

In [140]:

# Función para encontrar campos en común por nombre y valores
def find_foreign_key(df1, df2):
    # Campos en común por nombre
    common_columns = list(set(df1.columns).intersection(set(df2.columns)))
    potential_keys = []
    
    # Comprobación de campos en común y valores
    for col in common_columns:
        if df1[col].isin(df2[col]).any():
            potential_keys.append(col)
    
    return potential_keys

# Encontrar potenciales llaves foráneas
common_fields = find_foreign_key(partner, inv)

if common_fields:
    print(f"Campos en común para potencial llave foránea: {common_fields}")
    # Realizamos el merge utilizando el primer campo que coincida
    merged_df = pd.merge(inv, partner, on=common_fields[0], how='left')
    
    # Mostrar las primeras filas del resultado
    print(merged_df.head())
else:
    print("No se encontraron campos en común para realizar un merge.")

Campos en común para potencial llave foránea: ['message_has_error_counter', 'currency_id', 'activity_exception_icon', 'website_id', 'write_uid', 'activity_type_icon', 'purchase_order_count', 'activity_state', 'sale_order_ids', 'message_needaction_counter', 'activity_user_id', 'activity_summary', 'rating_ids', 'activity_calendar_event_id', 'sale_order_count', 'my_activity_date_deadline', 'l10n_ar_afip_responsibility_type_id', 'message_has_sms_error', 'website_message_ids', 'message_attachment_count', 'has_message', 'message_partner_ids', 'user_id', 'ref', 'message_follower_ids', 'create_uid', 'message_is_follower', 'activity_date_deadline', 'message_needaction', 'activity_ids', 'activity_exception_decoration', 'message_has_error', 'activity_type_id']
   id_x  campaign_id  source_id  medium_id  is_tax_computed_externally  \
0   161        False      False      False                       False
1   161        False      False      False                       False
2   161        False      False      False                       False
3   161        False      False      False                       False
4   161        False      False      False                       False

   is_avatax sequence_prefix  sequence_number activity_ids_x activity_state_x  \
0      False       INV/2024/               11             []            False
1      False       INV/2024/               11             []            False
2      False       INV/2024/               11             []            False
3      False       INV/2024/               11             []            False
4      False       INV/2024/               11             []            False

   ... l10n_es_edi_facturae_ac_role_type_ids  \
0  ...                                    []
1  ...                                    []
2  ...                                    []
3  ...                                    []
4  ...                                    []

  l10n_es_edi_facturae_ac_physical_gln  \
0                                False
1                                False
2                                False
3                                False
4                                False

   l10n_es_edi_facturae_ac_logical_operational_point sale_type  \
0                                              False     False
1                                              False     False
2                                              False     False
3                                              False     False
4                                              False     False

   subscription_count  last_website_so_id  l10n_cl_delivery_guide_price  \
0                   0               False                    sale_order
1                   0               False                    sale_order
2                   0               False                    sale_order
3                   0               False                    sale_order
4                   0               False                    sale_order

   arba_alicuot_ids   drei default_regimen_ganancias_id
0                []  False                        False
1                []  False                        False
2                []  False                        False
3                []  False                        False
4                []  False                        False

[5 rows x 538 columns]

In [144]:
partners_ids = partner['id'].iloc[0]
partners_ids

np.int64(86)

In [ ]:
#aqui lo reescribo el codigo de insercion para que se vea que funciona

#aqui el codigo que genera una invoice de clientes 
odoo.create('account.move', [{
    'move_type': 'out_invoice',  # Factura de cliente
    'partner_id': 132,  # ID del cliente
    'company_id': 1,  # ID de la compañía
    'website_id': 1,  # ID del sitio web
    'campaign_id': False,
    'source_id': False,
    'medium_id': False,
    'activity_ids': [],
    'amount_total': 28.75,
    'amount_residual': 28.75,
    'amount_total_signed': 28.75,
    'amount_total_in_currency_signed': 28.75,
    'amount_residual_signed': 28.75,
    'activity_state': True,
}])

In [158]:
#llamo al dataframe existente llamado customer_invoice
customers_invoice

,id,name,date,amount_total,partner_id
0,165,/,2024-09-20,28.75,"[132, 5dde8435e4b098a27bbd4def]"
1,164,/,2024-09-20,28.75,"[11, Gemini Furniture]"
2,161,INV/2024/00011,2024-09-17,28.75,"[11, Gemini Furniture]"
3,163,/,2024-09-17,0.00,False
4,160,/,2024-09-17,0.00,"[11, Gemini Furniture]"
5,159,/,2024-09-16,28.75,"[11, Gemini Furniture]"
6,158,/,2024-09-16,28.75,"[11, Gemini Furniture]"
7,157,/,2024-09-16,0.00,"[11, Gemini Furniture]"
8,162,INV/2024/00012,2024-09-10,575.00,"[10, Deco Addict]"
9,50,/,2024-08-31,0.00,False

In [164]:
# Especificar los campos que deseas leer
fields_to_read = ['id', 'move_id', 'product_id', 'quantity', 'price_unit', 'debit', 'credit']

# Realizar el llamado al modelo account.move.line con un límite de registros
line_items = odoo.search_read('account.move.line', [], fields_to_read, limit=100)

# Convertir los resultados a un DataFrame
li_df = pd.DataFrame(line_items)
li_df

,id,move_id,product_id,quantity,price_unit,debit,credit
0,473,"[161, INV/2024/00011]","[27, [FURN_8900] Drawer Black]",1.0,25.0,0.00,25.00
1,474,"[161, INV/2024/00011]",False,0.0,0.0,0.00,3.75
2,475,"[161, INV/2024/00011]",False,0.0,0.0,28.75,0.00
3,479,"[163, Draft Invoice (* 163)]",False,1.0,0.0,0.00,0.00
4,480,"[163, Draft Invoice (* 163)]",False,0.0,0.0,0.00,0.00
...,...,...,...,...,...,...,...
89,36,"[11, RBILL/2023/05/0001]",False,0.0,0.0,0.00,81.17
90,49,"[11, RBILL/2023/05/0001]",False,0.0,0.0,622.27,0.00
91,15,"[7, BILL/2023/05/0001 (INV/2023/0057)]",False,1.0,541.1,541.10,0.00
92,32,"[7, BILL/2023/05/0001 (INV/2023/0057)]",False,0.0,0.0,81.17,0.00
93,45,"[7, BILL/2023/05/0001 (INV/2023/0057)]",False,0.0,0.0,0.00,622.27

In [165]:
# Obtener la descripción del modelo 'account.move.line'
fields_description = odoo.execute('account.move.line', 'fields_get', [], {'attributes': ['string', 'type']})

# Mostrar las columnas (campos) del modelo
for field, description in fields_description.items():
    print(f"Campo: {field}, Tipo: {description['type']}, Descripción: {description['string']}")

Campo: analytic_distribution, Tipo: json, Descripción: Analytic Distribution
Campo: analytic_distribution_search, Tipo: json, Descripción: Analytic Distribution Search
Campo: analytic_precision, Tipo: integer, Descripción: Analytic Precision
Campo: move_id, Tipo: many2one, Descripción: Journal Entry
Campo: journal_id, Tipo: many2one, Descripción: Journal
Campo: company_id, Tipo: many2one, Descripción: Company
Campo: company_currency_id, Tipo: many2one, Descripción: Company Currency
Campo: move_name, Tipo: char, Descripción: Number
Campo: parent_state, Tipo: selection, Descripción: Status
Campo: date, Tipo: date, Descripción: Date
Campo: invoice_date, Tipo: date, Descripción: Invoice/Bill Date
Campo: ref, Tipo: char, Descripción: Reference
Campo: is_storno, Tipo: boolean, Descripción: Company Storno Accounting
Campo: sequence, Tipo: integer, Descripción: Sequence
Campo: move_type, Tipo: selection, Descripción: Type
Campo: account_id, Tipo: many2one, Descripción: Account
Campo: name, Tipo: char, Descripción: Label
Campo: debit, Tipo: monetary, Descripción: Debit
Campo: credit, Tipo: monetary, Descripción: Credit
Campo: balance, Tipo: monetary, Descripción: Balance
Campo: cumulated_balance, Tipo: monetary, Descripción: Cumulated Balance
Campo: currency_rate, Tipo: float, Descripción: Currency Rate
Campo: amount_currency, Tipo: monetary, Descripción: Amount in Currency
Campo: currency_id, Tipo: many2one, Descripción: Currency
Campo: is_same_currency, Tipo: boolean, Descripción: Is Same Currency
Campo: partner_id, Tipo: many2one, Descripción: Partner
Campo: reconcile_model_id, Tipo: many2one, Descripción: Reconciliation Model
Campo: payment_id, Tipo: many2one, Descripción: Originator Payment
Campo: statement_line_id, Tipo: many2one, Descripción: Originator Statement Line
Campo: statement_id, Tipo: many2one, Descripción: Statement
Campo: tax_ids, Tipo: many2many, Descripción: Taxes
Campo: group_tax_id, Tipo: many2one, Descripción: Originator Group of Taxes
Campo: tax_line_id, Tipo: many2one, Descripción: Originator Tax
Campo: tax_group_id, Tipo: many2one, Descripción: Originator tax group
Campo: tax_base_amount, Tipo: monetary, Descripción: Base Amount
Campo: tax_repartition_line_id, Tipo: many2one, Descripción: Originator Tax Distribution Line
Campo: tax_tag_ids, Tipo: many2many, Descripción: Tags
Campo: tax_tag_invert, Tipo: boolean, Descripción: Invert Tags
Campo: amount_residual, Tipo: monetary, Descripción: Residual Amount
Campo: amount_residual_currency, Tipo: monetary, Descripción: Residual Amount in Currency
Campo: reconciled, Tipo: boolean, Descripción: Reconciled
Campo: full_reconcile_id, Tipo: many2one, Descripción: Matching
Campo: matched_debit_ids, Tipo: one2many, Descripción: Matched Debits
Campo: matched_credit_ids, Tipo: one2many, Descripción: Matched Credits
Campo: matching_number, Tipo: char, Descripción: Matching #
Campo: is_account_reconcile, Tipo: boolean, Descripción: Account Reconcile
Campo: account_type, Tipo: selection, Descripción: Internal Type
Campo: account_internal_group, Tipo: selection, Descripción: Internal Group
Campo: account_root_id, Tipo: many2one, Descripción: Account Root
Campo: display_type, Tipo: selection, Descripción: Display Type
Campo: product_id, Tipo: many2one, Descripción: Product
Campo: product_uom_id, Tipo: many2one, Descripción: Unit of Measure
Campo: product_uom_category_id, Tipo: many2one, Descripción: Category
Campo: quantity, Tipo: float, Descripción: Quantity
Campo: date_maturity, Tipo: date, Descripción: Due Date
Campo: price_unit, Tipo: float, Descripción: Unit Price
Campo: price_subtotal, Tipo: monetary, Descripción: Subtotal
Campo: price_total, Tipo: monetary, Descripción: Total
Campo: discount, Tipo: float, Descripción: Discount (%)
Campo: tax_calculation_rounding_method, Tipo: selection, Descripción: Tax calculation rounding method
Campo: term_key, Tipo: binary, Descripción: Term Key
Campo: tax_key, Tipo: binary, Descripción: Tax Key
Campo: compute_all_tax, Tipo: binary, Descripción: Compute All Tax
Campo: compute_all_tax_dirty, Tipo: boolean, Descripción: Compute All Tax Dirty
Campo: epd_key, Tipo: binary, Descripción: Epd Key
Campo: epd_needed, Tipo: binary, Descripción: Epd Needed
Campo: epd_dirty, Tipo: boolean, Descripción: Epd Dirty
Campo: discount_allocation_key, Tipo: binary, Descripción: Discount Allocation Key
Campo: discount_allocation_needed, Tipo: binary, Descripción: Discount Allocation Needed
Campo: discount_allocation_dirty, Tipo: boolean, Descripción: Discount Allocation Dirty
Campo: analytic_line_ids, Tipo: one2many, Descripción: Analytic lines
Campo: discount_date, Tipo: date, Descripción: Discount Date
Campo: discount_amount_currency, Tipo: monetary, Descripción: Discount amount in Currency
Campo: discount_balance, Tipo: monetary, Descripción: Discount Balance
Campo: payment_date, Tipo: date, Descripción: Payment Date
Campo: blocked, Tipo: boolean, Descripción: No Follow-up
Campo: is_refund, Tipo: boolean, Descripción: Is Refund
Campo: id, Tipo: integer, Descripción: ID
Campo: display_name, Tipo: char, Descripción: Display Name
Campo: create_uid, Tipo: many2one, Descripción: Created by
Campo: create_date, Tipo: datetime, Descripción: Created on
Campo: write_uid, Tipo: many2one, Descripción: Last Updated by
Campo: write_date, Tipo: datetime, Descripción: Last Updated on
Campo: move_attachment_ids, Tipo: one2many, Descripción: Move Attachment
Campo: deferred_start_date, Tipo: date, Descripción: Start Date
Campo: deferred_end_date, Tipo: date, Descripción: End Date
Campo: has_deferred_moves, Tipo: boolean, Descripción: Has Deferred Moves
Campo: expense_id, Tipo: many2one, Descripción: Expense
Campo: purchase_line_id, Tipo: many2one, Descripción: Purchase Order Line
Campo: purchase_order_id, Tipo: many2one, Descripción: Purchase Order
Campo: stock_valuation_layer_ids, Tipo: one2many, Descripción: Stock Valuation Layer
Campo: cogs_origin_id, Tipo: many2one, Descripción: Cogs Origin
Campo: check_number, Tipo: char, Descripción: Check Number
Campo: expected_pay_date, Tipo: date, Descripción: Expected Date
Campo: user_id, Tipo: many2one, Descripción: Contact Salesperson
Campo: l10n_latam_document_type_id, Tipo: many2one, Descripción: Document Type
Campo: is_downpayment, Tipo: boolean, Descripción: Is Downpayment
Campo: sale_line_ids, Tipo: many2many, Descripción: Sales Order Lines
Campo: asset_ids, Tipo: many2many, Descripción: Related Assets
Campo: non_deductible_tax_value, Tipo: monetary, Descripción: Non Deductible Tax Value
Campo: consolidation_journal_line_ids, Tipo: many2many, Descripción: Consolidation Journal Line
Campo: followup_line_id, Tipo: many2one, Descripción: Follow-up Level
Campo: last_followup_date, Tipo: date, Descripción: Latest Follow-up
Campo: next_action_date, Tipo: date, Descripción: Next Action Date
Campo: invoice_origin, Tipo: char, Descripción: Origin
Campo: payment_matched_amount, Tipo: monetary, Descripción: Payment Matched Amount
Campo: l10n_pe_group_id, Tipo: many2one, Descripción: Group
Campo: filter_amount, Tipo: float, Descripción: Filter Amount
Campo: tax_settlement_move_id, Tipo: many2one, Descripción: Tax Settlement Move
Campo: tax_state, Tipo: selection, Descripción: Tax State
Campo: subscription_id, Tipo: many2one, Descripción: Subscription
Campo: subscription_mrr, Tipo: monetary, Descripción: Monthly Recurring Revenue
Campo: move_line_ids, Tipo: many2many, Descripción: Related Stock Moves
Campo: withholding_id, Tipo: many2one, Descripción: Withholding